/* This is the final site stylesheet. It overrides other sheets. */

nav#site-nav {
	position: absolute;
	top: 0px;
	width: 100%;
	background: #555;
	color: white;
	padding: 1rem;
	line-height: 1.5rem
}

nav#site-nav a {
	color: yellow;
}
nav#site-nav a:visited {
	color: orange;
}
nav#site-nav a:hover {
	color: orange;
}

